{% extends 'base.html.twig' %}

{% block title %}Ingresa!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body {
            height: 100%; /* Establecer altura al 100% */
            margin: 0; /* Eliminar márgenes para evitar espacios */
            display: flex;
            flex-direction: column;
        }

        body {              
            background: linear-gradient(193deg, #ffffff,#ffffff,#ffffff,#ffc0dc,#89bdff);                                                                                                    
        }
        .container {
            flex: 1; /* Para que ocupe el espacio restante */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .background-image {
            position: relative;
            bottom: 0;
            left: 0;
            width: 40%;
            height: auto;
        }

        /* Estilos para el formulario */
        .custom-form {
            background-color: #ffffff; /* Color celeste */
            border: 2px solid #336699; /* Borde más oscuro */
            border-radius: 20px; /* Más redondeado */
            padding: 20px;
            width: 50vh;
            height: 40vh;
        }

        .form-group input[type="email"],
        .form-group input[type="password"] {
            border-radius: 15px; /* Redondear más los input */
        }

        footer {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa; /* Color de fondo del footer */
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="{{ asset('recursos/fondo-biblio.png') }}" alt="" class="background-image">
                <h1>Encuentra los libros que estas buscando!</h1>
            </div>
            <div class="col-md-6">
                <div class="custom-form">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="alert alert-info">
                                Estás identificado como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Cerrar Sesión</a>
                            </div>
                        {% endif %}

                        <div class="mb-3 mt-2 font-weight-normal text-center"> <h2> Inicia Sesión </h2> </div>

                        <div class="form-group mt-5">
                            <label for="username"><h3> Email </h3></label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>

                        <div class="form-group mt-5">
                            <label for="password"><h3> Contraseña </h3></label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>

                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" name="_remember_me" id="remember_me">
                                <label class="form-check-label" for="remember_me">Recordarme</label>
                            </div>
                        #}
                        <div class="text-center"> {# Centrar el botón #}
                            <button class="btn btn-lg btn-primary mt-3" type="submit">
                                Iniciar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>Todos los derechos reservados ©</footer>
{% endblock %}
