{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group mb-3">
        {{ form_label(form.nombre, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.nombre) }}
    </div>
    <div class="form-group mb-3">
        {{ form_label(form.dni, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.dni, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.dni) }}
    </div>
    <div class="form-group mb-3">
        {{ form_label(form.telefono, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.telefono) }}
    </div>
    <div class="form-group mb-3">
        {{ form_label(form.direccion, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.direccion, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.direccion) }}
    </div>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary btn-lg">{{ button_label|default('Guardar') }}</button>
        <a href="{{ path('app_cliente_index') }}" class="btn btn-secondary btn-lg">Cancelar</a>
    </div>
{{ form_end(form) }}
