{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {% for field in form %}
            <div class="mb-3">
                {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(field) }}
            </div>
        {% endfor %}
    </div>
    <div class="text-right">
        <button class="btn btn-lg btn-primary">{{ button_label|default('Guardar') }}</button>
    </div>
{{ form_end(form) }}
