{% extends 'base.html.twig' %}

{% block title %}Prestamo{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Listado de Préstamos</h1>

        <div class="card shadow-lg mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Fecha de Préstamo</th>
                            <th scope="col">Fecha de Devolución</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Libro</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for prestamo in prestamos %}
                        <tr>
                            <td>{{ prestamo.id }}</td>
                            <td>{{ prestamo.fechaPrestamo ? prestamo.fechaPrestamo|date('Y-m-d') : '' }}</td>
                            <td>{{ prestamo.fechaDevolucion ? prestamo.fechaDevolucion|date('Y-m-d') : '' }}</td>
                            <td>{{ prestamo.nombreCliente }}</td>
                            <td>{{ prestamo.nombreLibro }}</td>
                            <td>{{ prestamo.observacion }}</td>
                            <td>
                                <a href="{{ path('app_prestamo_show', {'id': prestamo.id}) }}" class="btn btn-info btn-sm">Mostrar</a>
                                <a href="{{ path('app_prestamo_edit', {'id': prestamo.id}) }}" class="btn btn-warning btn-sm">Modificar</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">No se encontraron registros</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_prestamo_new') }}" class="btn btn-success btn-lg">Registrar Nuevo Préstamo</a>
            <a href="{{ path('app_index') }}" class="btn btn-secondary btn-lg">Volver al Inicio</a>
        </div>
    </div>
{% endblock %}
