{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<style>
        html, body {
            height: 100%; /* Establecer altura al 100% */
            margin: 0; /* Eliminar márgenes para evitar espacios */
            display: flex;
            flex-direction: column;
        }
    .example-wrapper {
        margin: 1em auto;
        max-width: 900px;
        width: 100%;
        font: 23px/2 sans-serif;
        text-align: center;
    }
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
    .footer {
        margin-top: 300px;
        font: 20px/2 sans-serif;
        text-align: center;
    }
    .card {
        height: 15rem; /* Ajusta esta altura según tus necesidades */
        border-radius: 2rem; /* Añade más borde redondeado */
    }
    .img-recursos{
        width: 10vh;
        height: 10vh;
    }
    .title {
        text-align: center;
        margin-bottom: 2em;
    }
    .row {
        margin-bottom: 2em;
    }
    .btn{
        border-radius: 1rem; /* Añade más borde redondeado */
    }
     footer {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa; /* Color de fondo del footer */
            width: 100%;
        }
</style>

<div class="container">
    <div class="title mt-5">
        <h1>Hola Bibliotecario</h1>
        <h2>Realiza tus gestiones ahora!</h2>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 ">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img class="img-recursos" src="{{ asset('recursos/icono-prestamo.svg') }}">
                    <h3 class="card-title">Prestamo</h3>
                    <a href="{{ path('app_prestamo_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4  ">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img class="img-recursos" src="{{ asset('recursos/icono-libro.svg') }}">
                    <h3 class="card-title">Libro</h3>
                    <a href="{{ path('app_libro_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
       <div class="col-md-4  ">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                <img class="img-recursos" src="{{ asset('recursos/icon-cliente.svg') }}">
                    <h3 class="card-title">Cliente</h3>
                    <a href="{{ path('app_cliente_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
       <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <img class="img-recursos" src="{{ asset('recursos/icon-editorial.svg') }}">
                    <h3 class="card-title">Editorial</h3>
                    <a href="{{ path('app_editorial_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                <img class="img-recursos" src="{{ asset('recursos/icon-autor.svg') }}">
                    <h3 class="card-title">Autor</h3>
                    <a href="{{ path('app_autor_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>Todos los derechos reservados ©</footer>
{% endblock %}
