{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 900px;
        width: 100%;
        font: 23px/2 sans-serif;
        text-align: center;
    }
    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
    .footer {
        margin-top: 300px;
        font: 20px/2 sans-serif;
        text-align: center;
    }
    .title {
        text-align: center;
        margin-bottom: 2em;
    }
    .row {
        margin-bottom: 2em;
    }
</style>


<div class="container">
    <div class="title">
        <h1>Hola Bibliotecario</h1>
        <h2>Realiza tus gestiones ahora!</h2>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Prestamo</h3>
                    <a href="{{ path('app_prestamo_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Libro</h3>
                    <a href="{{ path('app_libro_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Cliente</h3>
                    <a href="{{ path('app_cliente_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
    <div class="row justify-content-center">
       <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Editorial</h3>
                    <a href="{{ path('app_editorial_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
       <div class="col-md-4">
            <div class="example-wrapper">
                <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title">Autor</h3>
                    <a href="{{ path('app_autor_index') }}" class="btn btn-outline-primary">Ver</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
