<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="/recursos/logo.jpg">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('recursos/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-zmvWbizzcLFCMYjvACv7Jr+qOoPt5++45vLEAN+kXGyJea8mC/WDw2OnBs2l1enZsEyl1ijsdUSM1xkAYlzOoQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}

    {% block javascripts %}
        <link rel="stylesheet" href="{{ asset('recursos/javascript.css') }}">
    {% endblock %}

    <style>
        .nav-link:hover h4 {
            color: skyblue;
            transition: color 0.3s ease;
        }
        .navbar-nav {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
        .nav-item {
            margin-left: 20px;
            padding-right: 25px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="{{ asset('recursos/fondo-biblio.png') }}" width="70" height="70" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_index') }}"><h4>Inicio</h4><span class="sr-only"></span></a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"><h4>{{ app.user.userIdentifier }}</h4></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block body %}
    {% endblock %}

</html>
