{% extends 'base.html.twig' %}

{% block title %}Editorial{% endblock %}

{% block body %}
    <h1>Editorial</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for editorial in editorials %}
            <tr>
                <td>{{ editorial.id }}</td>
                <td>{{ editorial.nombre }}</td>
                <td>{{ editorial.direccion }}</td>
                <td>
                    <a href="{{ path('app_editorial_show', {'id': editorial.id}) }}">mostrar</a>
                    <a href="{{ path('app_editorial_edit', {'id': editorial.id}) }}">modificar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_editorial_new') }}">Registrar</a>
{% endblock %}
